//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// resolutions

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

//normalize
@import './settings/normalize';

// media
@import "./components/media";

//setups
@import './settings/vars';
@import './settings/mixins';
@import './settings/fonts';
@import './settings/base';

//components
@import './components/section';
@import './components/video-bg';
@import './components/header';
@import './components/nav';
@import './components/hero';
@import './components/btn';
@import './components/arrow';
@import './components/hide';
@import './components/features';
@import './components/feature';
@import './components/slider';
@import './components/team';
@import './components/team-accordeon';
@import './components/media';
@import './components/menu';
@import './components/menu-accordeon';
@import './components/reviews';
@import './components/review';
@import './components/player';
@import './components/order';
@import './components/map';
@import './components/footer';
@import './components/socials';