.arrow {
    width: rem(29px);
    height: rem(14px);
    @include cover;
    background: url(../icons/arrow-scroll.svg);
    border: none;
    bottom: rem(20px);
    left: 50%;
    transform: translateX(-50%);
}

.arrow__down {
    position: absolute;
}

.arrow__left {
    @include cover;
    width: rem(35px);
    height: rem(20px);
    top: 50%;
    transform: rotate(90deg);
}

.arrow__right {
    @include cover;
    width: rem(35px);
    height: rem(20px);
    top: 50%;
    transform: rotate(-90deg);
}