.contacts{
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070707;
}

.address {
    width: 50%;
}

.address-office__location {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.address__phone {
    color: #ffffff;
    text-align: left;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    color: #e45028;
}