.features {
    background: url('../img/features-bg.jpg') center center / cover no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

.features__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.features__list {
    display: flex;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.features__item {
    width: calc(100% / 3 - 26px);
}