.feature {
    text-align: center;
}

.feature__content {
    @include phones {
        text-align: left;
        margin-left: rem(20px);
    }
}

.feature__img {
    display: flex;
    justify-content: center;
    @include phones {
        max-width: rem(100px);
        width: 100%;
    }
}

.feature__title {
    font-size: rem(24px);
    font-family: "Lifehack-Medium";
    margin-top: rem(30px);
}

.feature__text {
    font-family: "Ubuntu";
    color: #777675;
    font-size: rem(14px);
}