.features {
    @include cover;
    background: url('../img/features-bg.jpg');
    display: flex;
    align-items: center;
}

.features__list {
    display: flex;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.features__item {
    width: calc(100% / 3 - 26px);
}