.feature {
    text-align: center;
}

.feature__img {
    display: flex;
    justify-content: center;
}

.feature__title {
    font-size: 24px;
    font-family: "Lifehack-Medium";
}

.feature__text {
    font-family: "Ubuntu";
    color: #777675;
    font-size: 14px;
}