.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(13px);
}

.header__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sandwich-icon {
    width: 25px;
    height: 25px;
    display: none;

    @include tablets {
        display: block;
        margin-left: 30px;
    }
}