.hero {
    @include cover;
    background: url(../img/texture.png);
    color: #ffffff;
    position: relative;
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .8;

    @include tablets {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

.hero__image {
    width: 50%;
    @include tablets {
        width: 100%;
    }
}

.hero__desc {
    font-size: rem(65px);
    @include lifehack();
    line-height: 1.1;
}

.hero__text {
    width: 50%;
    padding-top: rem(94px);
    @include tablets {
        width: 100%;
        padding-top: rem(20px);
    }
}

.hero__btn {
    margin-left: rem(15px);
    color: white;
    font-family: "Ubuntu";
    text-transform: uppercase;
    font-size: rem(11px);
}