.hide {
    display: none;
    background-color: #2f3234;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    min-height: 100vh;
    z-index: 9998;
    top: 0;
    left: 0;
}

.nav__hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    margin-top: rem(50px);
}

.nav__item-hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:before {
    display: flex;
    align-items: center;
    content: "";
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: currentColor;
    margin-bottom: rem(25px);
    }

    &:first-child {
        &:before {
            display: none;
        }
    }

}
