.yandex-map {
	background: url("../img/map.png") center center / cover no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.map__marker-icon {
	position: relative;
	width: 46px;
	height: 57.727px;
	left: 700px;
	top: 135px;
}