$itemsMargin: rem(16px);

.nav {

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
        display: flex;
        align-items: center;

        &:before {
            content: "";
            display: block;
            width: rem(4px);
            height: rem(4px);
            border-radius: 50%;
            background: currentColor;
            margin: 0 rem(15px);
        }

    &:first-child {
        &:before {
            display: none;
        }
    }

}

.nav__link {
    // margin-left: $itemsMargin;
    text-decoration: none;
    font-family: "Ubuntu";
    text-transform: uppercase;
    font-size: rem(13px);
    font-weight: 500;
}