.review {
    position: relative;
    color: #fff;

    &:hover {
        .review__hover {
            opacity: 0.7;
            transform: scale(1);
        }
    }
}

.review__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: grayscale(1);
}

.review__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(.8);
    transition: .3s;
}

.review__hover {
    position: absolute;
    font-family: "Ubuntu";
    font-size: rem(14px);
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(.8);
    transition: .3s;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: rem(50px) rem(20px);
}

.review__username {
    font-family: "Gagalin-Regular";
    font-size: rem(14px);
    margin-bottom: rem(20px);

    @include phones {
        font-size: rem(24px);
    }
}

.review__content {
    color: white;
    margin-bottom: rem(20px);
    font-family: "Ubuntu";
    font-size: rem(14px);
    font-weight: 300;

    @include phones {
        display: none;
    }
}

.review__btn {
    font-family: "Ubuntu";
    font-size: rem(14px);
    color: white;
    display: inline-flex;
    align-self: flex-start;

    @include phones {
        display: none;
    }
}

.review__btn-mobile {
    display: none;
    font-family: "Ubuntu";
    font-size: rem(13px);
    color: white;
    align-self: flex-start;

    @include phones {
        display: inline-flex;
    }
}

.review__hover-wrapper {
    display: flex;
    flex-direction: column;
    max-width: rem(250px);
}