.burgers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#f9b43b, #eb8d38, #f9b43b);
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrap {
        flex: 1;
        overflow: hidden;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        font-size: 72px;
        flex: 0 0 100%;
        font-family: "Gagalin-Regular";
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(600px);
        
        // &:nth-child(1) {
        //     background: orange;
        // }
        // &:nth-child(2) {
        //     background: red;
        // }

        @include tablets {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.slider__img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    @include tablets {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
}

.slider__descr {
    width: 50%;
    @include tablets {
        width: 90%;
        text-align: center;
    }
}

.slider__descr-text {
    font-family: "Ubuntu";
    color: white;
    font-size: rem(14px);
    margin-top: rem(60px);
    margin-bottom: rem(40px);
}

.slider__descr-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__descr-cost {
    font-family: "Gagalin-Regular";
    color: #e35028;
    font-size: rem(72px);
    font-weight: 700;

    @include phones {
        font-size: rem(50px);
    }
}

.slider__descr-cost-currency {
    font-family: "Gagalin-Regular";
    color: #e35028;
    font-size: rem(30px);
    font-weight: 700;
}

.slider__btn {
    color: white;
    font-family: "Ubuntu";
    text-transform: uppercase;
    font-size: rem(13px);
    height: rem(36px);
    margin-left: 0;
}

.slider__link {
	opacity: .8;
    transition: .3s;
    width: 100px;
    height: 100px;
    background-color: #e67108;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #e35028;
    }
}

.slider__link-volume {
    opacity: .8;
    transition: .3s;
    width: 100px;
    height: 100px;
    background-color: #e67108;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit; 
}

.slider__link-icon {
  width: rem(60px);
  height: rem(60px);
}

.slider__image-elem {
    @include tablets {
        width: 70%;
    }
}

.slider__link__content {
    font-size: rem(14px);
    position: absolute;
    margin-top: rem(40px);
    color: white;

    &-number {
        font-size: rem(20px);
        margin-top: rem(10px);
    }
}

.slider__link:hover .content__drop {
    top: 50px;
    left: 150px;
    opacity: 1;
}

.content__drop {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    min-width: 200px;
    opacity: 0;
}

// .content__drop::before {
//     content: '';
//     display: flex;
//     border: 10px solid transparent;
//     border-bottom: 10px solid #fff;
//     position: absolute;
//     bottom: 100%;
//     right: 10px;
// }

.content__drop::after {
    content: '';
    display: flex;
    width: 100%;
    height: 30px;
    position: relative;
    left: 0;
}

.content__list {
    display: flex;
    flex-direction: column;
}

.content__item {
    display: flex;
}

.content__item-icon {
    width: rem(50px);
    height: rem(50px);
}

.content__item-text {
    font-family: "Ubuntu-Medium";
    font-size: 14px;
}